In [9]:
import pandas as pd
Bike_data= pd.read_excel("C://Users//Bachelor_001//OneDrive//Desktop//PD//SeoulBikeData4.xlsx")
print(Bike_data)

           Date  Rented Bike Count  Hour  Temperature(째C)  Humidity(%)  \
0    2017-12-01                254     0             -5.2           37
1    2017-12-01                204     1             -5.5           38
2    2017-12-01                173     2             -6.0           39
3    2017-12-01                107     3             -6.2           40
4    2017-12-01                 78     4             -6.0           36
...         ...                ...   ...              ...          ...
8755 2018-11-30               1003    19              4.2           34
8756 2018-11-30                764    20              3.4           37
8757 2018-11-30                694    21              2.6           39
8758 2018-11-30                712    22              2.1           41
8759 2018-11-30                584    23              1.9           43

      Wind speed (m/s)  Visibility (10m)  Dew point temperature(째C)  \
0                  2.2              2000                      -17.6
1                  0.8              2000                      -17.6
2                  1.0              2000                      -17.7
3                  0.9              2000                      -17.6
4                  2.3              2000                      -18.6
...                ...               ...                        ...
8755               2.6              1894                      -10.3
8756               2.3              2000                       -9.9
8757               0.3              1968                       -9.9
8758               1.0              1859                       -9.8
8759               1.3              1909                       -9.3

      Solar Radiation (MJ/m2)  Rainfall(mm)  Snowfall (cm) Seasons  \
0                         0.0           0.0            0.0  Winter
1                         0.0           0.0            0.0  Winter
2                         0.0           0.0            0.0  Winter
3                         0.0           0.0            0.0  Winter
4                         0.0           0.0            0.0  Winter
...                       ...           ...            ...     ...
8755                      0.0           0.0            0.0  Autumn
8756                      0.0           0.0            0.0  Autumn
8757                      0.0           0.0            0.0  Autumn
8758                      0.0           0.0            0.0  Autumn
8759                      0.0           0.0            0.0  Autumn

         Holiday Functioning Day
0     No Holiday             Yes
1     No Holiday             Yes
2     No Holiday             Yes
3     No Holiday             Yes
4     No Holiday             Yes
...          ...             ...
8755  No Holiday             Yes
8756  No Holiday             Yes
8757  No Holiday             Yes
8758  No Holiday             Yes
8759  No Holiday             Yes

[8760 rows x 14 columns]

In [11]:
Bike_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       8760 non-null   datetime64[ns]
 1   Rented Bike Count          8760 non-null   int64
 2   Hour                       8760 non-null   int64
 3   Temperature(째C)            8760 non-null   float64
 4   Humidity(%)                8760 non-null   int64
 5   Wind speed (m/s)           8760 non-null   float64
 6   Visibility (10m)           8760 non-null   int64
 7   Dew point temperature(째C)  8760 non-null   float64
 8   Solar Radiation (MJ/m2)    8760 non-null   float64
 9   Rainfall(mm)               8760 non-null   float64
 10  Snowfall (cm)              8760 non-null   float64
 11  Seasons                    8760 non-null   object
 12  Holiday                    8760 non-null   object
 13  Functioning Day            8760 non-null   object
dtypes: datetime64[ns](1), float64(6), int64(4), object(3)
memory usage: 958.3+ KB

In [13]:
Bike_data['Date'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 8760 entries, 0 to 8759
Series name: Date
Non-Null Count  Dtype
--------------  -----
8760 non-null   datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 68.6 KB

In [17]:
Bike_data['Snowfall (cm)']

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
8755    0.0
8756    0.0
8757    0.0
8758    0.0
8759    0.0
Name: Snowfall (cm), Length: 8760, dtype: float64